<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Topics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-black-2">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3 gradient-nav fixed-top">
            <div class="container text-dark">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Topics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Topics" asp-action="Discussions">Discussions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li id="profile" class="nav-item">
                        <a class="no-wrap nav-link text-light opacity-50 rounded-borders" style="padding-left:10px" asp-controller="Home" asp-action="Profile"></a>
                    </li>
                    <li id="signin" class="nav-item">
                        <a class="no-wrap nav-link text-light opacity-50 rounded-borders min-width-100" asp-area="" asp-controller="Home" asp-action="SignIn">Sign in</a>
                    </li>
                    <form id="verifyNav" method="POST" asp-controller="Home" asp-action="Profile" asp-antiforgery=false hidden>
                        <input name="user" class="username" hidden>
                        <input name="token" class="token" hidden>
                    </form>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top: 90px;">
        <main role="main" class="pb-3 text-light">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light bg-black-3 border-top-none">
        <div class="container bg-black-3 text-secondary">
            &copy; 2020 - Topics - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-primary">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
