@model CreateAccountViewModel
@{
	ViewData["Title"] = "Create Account";
}

<div class="text-center container" style="height: 500px">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="card mx-auto w-25 account-form">
                <span class="bg-silver card-title rounded-top text-dark padding-md h5">Register</span>
                <div class="bg-white card-body">
                    <br>
                    <form class="md-form" method="POST" asp-controller="Home" asp-action="CreateAccount" asp-antiforgery=true>
                        <input class="small-text form-control bottom-line-input" name="user" placeholder="Create a username" /><br>
                        <input class="small-text form-control bottom-line-input" type="password" name="pwd" placeholder="Create a password" /><br>
                        <input class="small-text form-control bottom-line-input" type="password" name="pwd_verify" placeholder="Type your password again" /><br>
                        <button class="btn btn-primary">Create account</button>
                    </form>
                    @try
                    {	
                        if (Model.Error != null)
                        {
                            <br>
                            <p class="text-danger small-text">@Model.Error</p>
                        }
                    } catch {}
                </div>
                <div class="card-body">
                    <small>Already have an account? Sign in <a asp-action="Signin">here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

