@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Topics</h1>
    <p>Engage in discourse about current topics.</p>
</div>
@if (Model.LoggedIn)
{
    <script>
        localStorage.setItem("user", "@Model.Username");
        localStorage.setItem("token", "@Model.Token");
    </script>
}
