@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<small>Last updated on August 14th, 2020.</small>
<br><br>
<div class="row">
    <div class="col-7 small-screen-100">
        <p class="text-light">
            Topics is an app for having discourse about worldwide events. 
            This site uses inputted data which will be listed on this page. 
            Please use this to understand what data will be collected by this site and how it will be used.</p>
        
        <br><h4 id="data-collected" class="font-weight-bold text-muted">Data collected by this site</h6>
        <p>When registering an account for this app, any credentials used for the registration process are used for authentication purposes. 
            Any images or messages uploaded to the site will be displayed publicly in any discussions that one is involved in and <b>are not able to be deleted</b>. 
            Passwords are able to be changed through the profile.</p>

        <br><h4 id="data-collected" class="font-weight-bold text-muted">Personal data</h6>
        <p>All personal data that the app uses for authentication or improving one's experience will not be shared with any third parties or used by anyone with access. The only data that will ever be made public are fields that are intended to be public, such as the username, messages in discussions, and descriptions. It is strongly advised to refrain from publicly displaying any personal information, as it could be accessed by the public. An important thing to note is that <b><u>data can be cached</u></b> meaning that after logging out you should close your tab or browser for protection.</b></p>
        
        <br><h4 id="data-collected" class="font-weight-bold text-muted">Where</h6>
        <p>The information that you upload publicly can be seen from anyone in the world. Some fractions of your data will be stored on your local device until logging out. The data stored on your local device should not be shared with anyone as the information could be used maliciously by someone with malintent.</p>
    </div>
</div>