@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-dark">Topics is an app for having discourse about worldwide events. Using this site uses inputted data which will be listed on this page. Please use this to understand what data will be collected by this site and how it will be used.</p>
