@model ProfileViewModel
@{
	ViewData["Title"] = "Profile";
}

<div class="text-center">
	<div class="circular-landscape" style="background-image: url(@Model.ProfilePicture)"></div>
	<h2 id="username">@Model.Username</h2>
	<br>
	<form id="profile-change" enctype="multipart/form-data" class="md-form w-100" asp-controller="Img" asp-action="Upload" method="POST">
		<div class="form-row">
			<div class="col-12">
				<div class="input-group mb-3">
					<div class="custom-file">
						<input name="file" type="file" class="custom-file-input" id="input-file">
						<label class="custom-file-label" for="input-file">Choose file</label>
					</div>
					<div class="input-group-append">
						<button class="btn btn-primary">Set Profile Picture</button>
					</div>
				</div>
				<input name="user" id="u" hidden>
				<input name="token" id="token" hidden>
			</div>
		</div>
	</form>
	<hr>
	<button onclick="javascript:logout()" type="button" class="btn btn-danger w-50">Logout</button>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/profile.js"></script>