@model SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center container" style="height: 500px">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="card mx-auto w-25 account-form">
                <h4 class="card-title margin-top-small">Sign in</h4>
                <div class="bg-light card-body">
                    <br>
                    <form class="md-form" method="POST" asp-antiforgery="false" asp-controller="Home" asp-action="SignIn">
                        <input class="small-text form-control bottom-line-input" type="text" name="user" placeholder="Username" /><br>
                        <input class="small-text form-control bottom-line-input" type="password" name="pwd" placeholder="Password" /><br>
                        <button class="btn btn-primary">Sign in</button>
                    </form>
                    @try
                    {
                        if (Model.Error != null)
                        {
                            <br>
                            <p class="text-danger small-text">@Model.Error</p>
                        }
                    } catch {}
                </div>
                <div class="card-body">
                    <small>Don't have an account? Register <a asp-action="CreateAccount">here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
