@model ViewProfileViewModel
@using Topics.Database
@{
	ViewData["Title"] = Model.Username + "'s Profile";
}

@if (await Account.GetProperty(Model.Username, "user") != "")
{
	<div class='text-center'>
		<div id="pfp" class="circular-landscape" style="background-image: url('@Model.ProfilePicture')"></div>
		<h1 class='quicksand'>@Model.Username's profile</h1>
	</div>
}
else
{
	<h1>The user "@Model.Username" was not found.</h1>
}

