@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Sans&display=swap');

* {
  font-family: 'Noto Sans' !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.circular-landscape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
#profile_button:hover {
  cursor: pointer;
  z-index: 9000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #004488;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
.account-form {
  width: auto;
}

html {
  font-size: 14px;
}
.error-message
{
  display:inline; color: red;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .account-form {
    width: 100% !important;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.gradient-nav {
  background: linear-gradient(to right, #8f05a1, #00c3ff) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bottom-line-input {
  border-radius: 0 !important;
  border: none !important;
  background: none !important;
  color: black !important;
  border-bottom: 1px solid silver !important;
  padding: 10px;
}

.small-text {
  font-size: 14px !important;
}

.margin-top-small {
  margin-top: 10px;
}

#profile, #signin {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

#sign-in-box
{
  height: 100%;
  background-color: darkgrey;
}