@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Sans&display=swap');

* {
  font-family: 'Noto Sans' !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.circular-landscape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.circular-landscape-sm, .circular-landscape-md {
  display: inherit;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.no-vertical-border {
  border-top: none !important;
  border-bottom: none !important;
}

.circular-landscape-md {
  width: 50px;
  height: 50px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
#profile_button:hover {
  cursor: pointer;
  z-index: 9000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #004488;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
.account-form {
  width: auto;
}

.block-img {
  display: block;
}

.post-img {
  max-height: 500px !important;
  max-width: 100% !important;
}
html {
  font-size: 14px;
}
.error-message
{
  display:inline; color: red;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .account-form {
    width: 100% !important;
  }
  .small-screen-100 {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.gradient-nav {
  background: linear-gradient(to right, #8f05a1, #00c3ff) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bottom-line-input {
  border-radius: 0 !important;
  border: none !important;
  background: none !important;
  color: black !important;
  border-bottom: 1px solid silver !important;
  padding: 10px;
}

.small-profile-picture {
  margin-right: 7px;
  border-radius: 25px;
  width: 25px !important;
  height: 25px !important;
}
.small-text {
  font-size: 14px !important;
}
.bg-silver {
  background-color: rgb(231, 231, 231) !important;
}

.fit {
  display:table !important;
}

.padding-xs { padding: .25em !important; }
.padding-sm { padding: .5em !important; }
.padding-md { padding: 1em !important; }
.padding-lg { padding: 1.5em !important; }
.padding-xl { padding: 3em !important; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em !important; }
.padding-top-md { padding-top: 1em !important; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em !important; }
.padding-left-sm { padding-left: .5em !important; }
.padding-left-md { padding-left: 1em !important; }
.padding-left-lg { padding-left: 1.5em !important; }
.padding-left-xl { padding-left: 3em !important; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em; }
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }

.margin-top-small {
  margin-top: 10px !important;
}
.margin-top-medium {
  margin-top: 30px !important;
}
.margin-top-large {
  margin-top: 60px !important;
}

#profile, #signin {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

#sign-in-box
{
  height: 100%;
  background-color: darkgrey;
}