@model CreateTopicViewModel
@{
	ViewData["Title"] = "Create a topic";
}
<h1>@ViewData["Title"]</h1>
@if (!string.IsNullOrEmpty(Model.Error))
{
	<small class="text-danger">@Model.Error</small>
}
<hr>
<form asp-action="CreateTopic">
	<!-- authentication -->
	<input type="hidden" name="user" class="username" hidden>
	<input type="hidden" name="token" class="token" hidden>
	<!---->
	<input name="title" placeholder="Type a title here" class="text-light form-control border-none bg-black-3"><br>
	<textarea placeholder="Type the content of your topic here" name="content" class="text-light form-control border-none bg-black-3"></textarea>
	<br>
	<input name="pwd" type="password" placeholder="Type password" class="text-light fit padding-sm border-none bg-black-3">
	<br>
	<button class="btn btn-primary">Create</button>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/create-topic.js"></script>